

<div class="row">
  <div class="col-md-2">
      <app-speechlist  (speechClickedOutput)="speechClicked($event)" 
                       [refreshInput]="refreshList"></app-speechlist>
  </div>
  <div class="col-md-10">
     <div class="row">
        <div class="col-md-12 text-right">
            <a class="btn btn-xs btn-success" routerLink="/add"><i class="fa fa-file-o"></i> Add Speech</a>
        </div>
     </div>
     <app-speechdetail [speechInput]="clickedSpeech" 
                       (refreshSpeechListOutput)="refreshSpeechlist($event)"></app-speechdetail>
  </div>
</div>